[submodule "elisp/packages/colors/emacs-color-theme-solarized"]
	path = elisp/packages/colors/emacs-color-theme-solarized
	url = git@github.com:sellout/emacs-color-theme-solarized.git
[submodule "elisp/packages/org/org-bullets"]
	path = elisp/packages/org/org-bullets
	url = git@github.com:sabof/org-bullets.git
[submodule ".\\elisp\\packages\\colors\\emacs-leuven-theme"]
	path = .\\elisp\\packages\\colors\\emacs-leuven-theme
	url = git@github.com:fniessen/emacs-leuven-theme.git
[submodule "elisp/packages/company-mode"]
	path = elisp/packages/company-mode
	url = git@github.com:company-mode/company-mode.git
